
.icon-window:before { content: '\e800'; } /* '' */
.icon-mobile:before { content: '\e801'; } /* '' */
.icon-mail-circled:before { content: '\e802'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
