@import "./fontello.css";
@import "./underline.css";
@import "./markdown.css";
@import "./lang.css";
@import "./prism.css";
@import "./tags.css";

@font-face {
  font-family: Font;
  src: url(/assets/j7.woff2) format('woff2');
  font-display: swap;
}

:root {
  --color-primary: #f9f9f9;
  --color-secondary: #444;
  --color-dark:  #222;
  --color-bg: rgb(1, 6, 16);
  --color-white: #fff;
  --color-light: #ccc;
  --color-link: #0077b2;
  --color-active: #7d49ac;
  --offset: 1em;
  --offset-h1: 0.83em;
  --fs-md: 1.4em;
  --fs-lg:  2em;

  --color-orange-1: hsl(43, 90%, 70%);
  --color-red-3: hsla(6, 96%, 65%, 1);
  --color-orange-6: hsl(8, 80%, 61%);
  --color-orange-7: hsl(8, 80%, 48%);
  --gradient-sunset: linear-gradient(132deg, #5e368d 0%, #7d49ac 40%, #00a5ff 100%);
  --gradient-active: linear-gradient(132deg, var(--color-orange-7) 0%, var(--color-red-3) 40%, var(--color-orange-7) 100%);
  --gradient-sunset-x: linear-gradient(to right, #5e368d, var(--color-active), #00a5ff) 0 100%;
}

.gradient-text {
  background-color: var(--gradient-sunset);
  background-image: var(--gradient-sunset);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper {
  width: 100vw;
  display: inline-grid;
}

body {
  padding: 0;
  margin: 0;
  font: 19px;
  color: var(--color-dark);
  font-weight: 400;
  font-variation-settings: 'wght' 400;
}
b, strong {
  text-shadow: 0 0 1px black;
}

