:is(nav .underline a, nav a:hover):last-child:after {
  display: block;
  content: "";
  height: 4px;
  background: var(--gradient-sunset-x);
  right: 0;
  left: 0;
  position: absolute;
  margin-top: 10px;
  border-radius: 10px;
}
nav a:hover:last-child:after {
  background: var(--gradient-active)
}
