nav {
  position: relative;
  margin: 0 auto;
}
nav h2 {
  position: relative;
}

nav a:last-child:after {
  margin-left: 0;
  transition: 0.4s ease-in-out;
}

:is(nav .underline a, nav a:hover):last-child:after {
  display: block;
  content: "";
  height: 4px;
  background-color: #5e368d;
  right: 0;
  left: 0;
  position: absolute;
  margin-top: 10px;
  border-radius: 10px;
}
nav a:hover:last-child:after {
  background-color: var(--color-orange-7)
}
