<!Doctype html>
<html lang="{{lang or 'en'}}">
<head>
  <meta charset="utf-8">
  <title>{{ title }} - Robin Lab</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ image }}">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="{{ title }}">
  <meta property="twitter:description" content="{{ description }}">
  <meta property="twitter:image" content="{{ image }}">

  <link rel="icon" href="{{ favicon }}">
  <link rel="apple-touch-icon" href="{{ favicon }}">
  <meta name="theme-color" content="#010610" media="(prefers-color-scheme: dark)">

  <style>{{ critical | safe }}</style>
  <link defer rel="stylesheet" href="/assets/{{ style }}">
</head>
<body language="{{langPath}}">
  <div class="wrapper">
    <header>
      {% include "components/starry.html" %}
      <ul class="lang" aria-label="secondary">
        <li><h5><a href="/en/{{ path }}" class="{{ 'active' if lang == 'en' }}">EN</a></h5></li>
        <li><h5><a href="/es/{{ path }}" class="{{ 'active' if lang == 'es' }}">ES</a></h5></li>
      </ul>

      <figure>
        <img src="/assets/avatar.svg" with=100 height=100 alt="Avatar"/>
      </figure>

      <h1><a href="{{ langPath }}/">Robin Lab</a></h1>
      <p class="quote">I’m a web developer who really likes to build websites</p>
      <p class="center">
        <a href="https://github.com/robinparadise" title="GitHub" target="_blank">
          <span class="icon-github-circled white md"></span>
        </a>
        <a href="https://www.linkedin.com/pub/robin-giles-ribera/61/6a2/204" title="LinkedIn" target="_blank">
          <span class="icon-linkedin-circled white md"></span>
        </a>
        <a href="mailto:robinchogiles@gmail.com" title="Mail" target="_top">
          <span class="icon-mail-circled white md"></span>
        </a>
        <a href="https://codepen.io/robinparadise" title="Coursera" target="_blank">
          <span class="icon-codeopen white md"></span>
        </a>
      </p>

      {% include "components/alltags.html" %}
    </header>
    <main>
      <nav aria-label="primary">
        <h2 class="{{ 'gradient-text underline' if page == 'index' or page == 'projects' }}">
          <a class="dark" href="{{ langPath }}/">{{ i18n.projects.title }}</a>
        </h2>
        <h2 class="{{ 'gradient-text underline' if page == 'blog' }}">
          <a class="dark" href="{{ langPath }}/blog.html">Blog</a>
        </h2>
        <h2 class="{{ 'gradient-text underline' if page == 'about' }}">
          <a class="dark" href="{{ langPath }}/about.html">{{ i18n.about.title }}</a>
        </h2>
        <h2 onclick="search()">
          <span class="icon-search"></span>
        </h2>
      </nav>
      
      {{ content | safe }}
      {% if md == true %}
        <lit-comments/>
      {% endif %}
    </main>
  </div>
  {% include "components/footer.html" %}


  <script type="module" src="/assets/{{ scripts('lit-index.js') }}" async></script>
  {% if md == true %}
    <script type="module" src="/assets/{{ scripts('lit-comments.js') }}" async></script>
  {% endif %}

</body>
</html>