<!Doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/{{ style }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ image }}">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="{{ title }}">
  <meta property="twitter:description" content="{{ description }}">
  <meta property="twitter:image" content="{{ image }}">

  <link rel="icon" type="image/x-icon" href="{{ favicon }}">
  <link rel="apple-touch-icon" href="{{ favicon }}">

  <link rel="prefetch" as="document" href="/about.html">
  <link rel="prefetch" as="document" href="/blog.html">
  <link rel="prefetch" as="document" href="/">

</head>
<body>
  <div class="wrapper">
    <header>
      {% include "components/starry.html" %}
      <h1>Robin Lab</h1>
      <p class="quote">Degree in Telecomunications System Engineering and Master's Degree in Web Engineering</p>
      <p>Fullstack JavaScript Developer. Passionate about the Linux operating system, free software and web programming.</p>
      <p class="center">
        <a href="https://github.com/robinparadise" title="GitHub" target="_blank">
          <span class="icon-github-circled white md"></span>
        </a>
        <a href="https://www.linkedin.com/pub/robin-giles-ribera/61/6a2/204" title="LinkedIn" target="_blank">
          <span class="icon-linkedin-circled white md"></span>
        </a>
        <a href="mailto:robinchogiles@gmail.com" title="Mail" target="_top">
          <span class="icon-mail-circled white md"></span>
        </a>
        <a href="https://www.coursera.org/user/04a4a52f6b58cb2e7b6f80a3dec606d6" title="Coursera" target="_blank">
          <span class="icon-bank white md"></span>
        </a>
      </p>
    </header>
    <main>
      <nav>
        <h2 class="{{ 'gradient-text underline' if page == 'index' else '' }}">
          <a class="dark" href="/">Projects</a>
        </h2>
        <h2 class="{{ 'gradient-text underline' if page == 'blog' else '' }}">
          <a class="dark" href="/blog.html">Blog</a>
        </h2>
        <h2 class="{{ 'gradient-text underline' if page == 'about' else '' }}">
          <a class="dark" href="/about.html">About</a>
        </h2>
      </nav>
      {{ content | safe }}
    </main>
  </div>
  {% include "components/footer.html" %}
</body>
</html>